# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gtags files
GPATH
GTAGS
GRTAGS

# ODB C++ output files
*-odb.*pp

# Directories
*cmake-build-debug/
*.idea/
*.vscode/
